@keyframes colorChange {
    0% {
      color: #e74c3c;
    }
    25% {
      color: #f39c12;
    }
    50% {
      color: #3498db;
    }
    75% {
      color: #2ecc71;
    }
    100% {
      color: #e74c3c;
    }
  }
  
  
  