/* NavBar.css */

/* General styles for larger screens */
.navbar {
  background-color: #3498db; /* Navbar background color */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff; /* Navbar brand text color */
  transition: color 0.5s ease-in-out;
}

.navbar-brand:hover {
  color: #e74c3c; /* Hover color for navbar brand */
}

.navbar-nav .nav-link {
  color: #fff; /* Navbar links text color */
  transition: color 0.5s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #e74c3c; /* Hover color for navbar links */
}

/* Add animation to navbar items */
.navbar-nav .nav-item {
  transition: transform 0.3s ease-in-out;
}

.navbar-nav .nav-item:hover {
  transform: translateY(-3px);
}

/* Add animation to navbar collapse button */
.navbar-toggler-icon {
  background-color: #fff; /* Navbar toggle button color */
}

.navbar-toggler:hover .navbar-toggler-icon {
  background-color: #e74c3c; /* Hover color for navbar toggle button */
}

/* Responsive styles */
@media (max-width: 767px) {
  .navbar-nav {
    background-color: #3498db; /* Background color for mobile dropdown */
  }

  .navbar-nav .nav-item {
    border-bottom: 1px solid #fff; /* Border between mobile dropdown items */
  }

  /* Stylish color for the span text in brand on smaller screens */
  .navbar-brand span {
    color: #ff1493;
    transition: color 0.5s ease-in-out;
  }

  /* Change the color on hover for span text in brand on smaller screens */
  .navbar-brand:hover span {
    color: #ff66b2;
  }
}

/* Additional styles for smaller screens */
@media (max-width: 768px) {
  .navbar-brand {
    font-size: 1.5rem; /* Adjust the font size for smaller screens */
  }

  .navbar-nav {
    margin-top: 10px; /* Adjust the top margin for the navbar items */
  }

  .nav-link {
    padding: 10px; /* Adjust the padding for the navbar items */
  }
}
/* NavBar.css */
